*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.firstSection{
    background-color: #f5f6f7;
    padding: 10px;
    box-shadow: 5px 5px 10px #808080;
    height: 100px;
    width: auto;
}
.contactUS,.free{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    position: relative;
    left: 250px;   
}
.free{
    color: #929299;
    position: relative;
    left: 280px;
    font-size: 40px;
}
.secondSection{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 400px;
    top: 200px;
    padding: 10px;
    height: 230px;
    width: 600px;
    background-color: #f5f6f7;
    box-shadow: 5px 5px 10px #808080;

}
.sendBtn{
    background-color: #9d9df5;
    color: #FFFFFF;
    border: none;
    font-size: 15px;
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    left: 450px;
    top: 170px;
}
input{
    position: relative;
    border-radius: 3px;
    left: 13px;
    padding: 3px 10px;
    margin: 2px 0;
    width: 45%;
    color: #C7C7E0;
}

#textmess {
    position: relative;
    left: 320px;
    top: -130px;
}

textarea{
    width: 238px;
    height: 123px;
    position: relative;
    border-radius: 5px;
    padding: 3px 10px;
    left: 320px;
    top: -130px;
    color: #C7C7E0;
}
.thirdSection{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 600px;
    top: 480px;
}
hr{
    color:#03030F;
    width: 160%;
    position: inherit;
    left: -50px;
}
a{
    text-decoration: none; 
}
.facebook{
    position: relative;
    left: -50px;
}
.instagram{
    position: relative;
    left: 70px;
}
